<div class="">
  <div class="white-box">
    <form>
      <div>
        <label>Hey, wanna write something stupid?</label>
        <textarea class="input" name="blab_content" placeholder="Stupid goes here..."></textarea>
      </div>
      <div>
        <label>Enter your email</label>
        <input type="email" class="input" name="blab_email" placeholder="email goes here..." required value="someone@womewhere.com"><br>
      </div>
      <input type="submit" value="Blab it!">
    </form>
  </div>
  <ul class="white-box">
    <li class="">
      <img src="images/potato.png"/>
      <div>
        <h4>email@somewhere.com</h4>
        <p>text text text</p>
        <div>
          <a href="">delete</a>
          <a href="">upvote</a>
          <a href="">timestamp</a>
        </div>
      </div>
    </li>
  </ul>
</div>
