<div class="site_container">
  <div class="blab_input_container">
    <form>
      <div>
        <label>Hey, wanna write something stupid?</label>
        <textarea name="blab_content" placeholder="Stupid goes here..."></textarea>
      </div>
      <input type="text" name="fname"><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
