<div class="site_container">
  <div class="blab_input_container">
    <form>
      <div>
        <label>Hey, wanna write something stupid?</label>
        <textarea name="blab_content" placeholder="Stupid goes here..."></textarea>
      </div>
      <div>
        <label>Enter your email</label>
        <input type="email" name="blab_email" placeholder="email goes here..." required><br>
      </div>
      <input type="submit" value="Blab it!">
    </form>
  </div>
  <ul class="blabs_container">

  </ul>
</div>
