body {
  background-image: url('../images/bla-bla-bla.gif');
}

.white-box {
  background-color: white;
  padding: 20px;
  max-width: 520px;
  margin: 60px auto;
  border-radius: 7px;
  border: 1px solid #ccc;
  font-family: verdana;
  line-height: 2;
}
